<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>U.S.A President</h2>
  <p>후보 1번</p>
  <div class="card" style="width:400px">
    <img class="card-img-top" src="http://timedotcom.files.wordpress.com/2018/04/time-100-donald-trump2.jpg?quality=85&crop=726px%2C0px%2C1604px%2C1604px&resize=600%2C600&strip&zoom=2" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">Trump</h4>
      <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
      <a href="#" class="btn btn-primary">VOTE</a>
    </div>
  </div>

  <br>

  <p>후보 2번</p>
  <div class="card" style="width:400px">
    <div class="card-body">
      <h4 class="card-title">Hillary</h4>
      <p class="card-text">Some example text some example text. Jane Doe is an architect and engineer</p>
      <a href="#" class="btn btn-primary">VOTE</a>
    </div>
    <img class="card-img-bottom" src="https://s1.r29static.com//bin/entry/567/x,80/1660164/image.jpg" alt="Card image" style="width:100%">
  </div>
</div>

</body>
</html>
